<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>EditarProducto</servlet-name>
        <servlet-class>servlet.EditarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarProducto</servlet-name>
        <servlet-class>servlet.EliminarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarProducto</servlet-name>
        <servlet-class>servlet.AgregarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarUsuario</servlet-name>
        <servlet-class>servlet.EditarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarUsuario</servlet-name>
        <servlet-class>servlet.EliminarUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditarProducto</servlet-name>
        <url-pattern>/EditarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarProducto</servlet-name>
        <url-pattern>/EliminarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarProducto</servlet-name>
        <url-pattern>/AgregarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarUsuario</servlet-name>
        <url-pattern>/EditarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarUsuario</servlet-name>
        <url-pattern>/EliminarUsuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
